@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    color: #002DA0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    
    justify-content: space-between;
    position: relative;
    
}
.container{
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 40rem;
    
    min-height: 100vh;
    max-width: 100%   ;
    margin: 3em auto;
    position: relative;
    align-items: center;
    background-color: #fff;
    
}
.header{
    text-align: center;
    padding: 1.7em;
    border-bottom: 2px rgba(66, 133, 244, 0.3) solid;
}
.bottom{
    text-align: center;
    padding: 1.7em;
    position: absolute;
    bottom: 14%;
    left: -32px;
    width: 100%;
    border-bottom: 2px rgba(66, 133, 244, 0.3) solid;
}
.container .sign{
    position: absolute;
    padding: 2rem;
    min-width: 100%;
    min-height: 100%;
    display: block;
    left: 5%;
    top:12%;
    font-size: 1.1rem;
    align-items: center;
}
.form-control input{
    width: 85%;
    height:40px;
    border: 2px solid #CACCCB;
border-radius: 5px;
padding-left: .5rem;
font-family: inherit;
display:block;
}
.form-control.success input {
    border-color: #2ecc71;
}
.form-control.error input {
    border-color: #e74c3c;
}

.form-control{
    position:relative;
    

}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
 .form-control i{
    position: absolute;
    top: 45px;
    right:93px;
    visibility: hidden;
 }
 .form-control.success i.fa-check-circle {
     color:#2ecc71;
     visibility:visible;
 }
 .form-control.error i.fa-exclamation-circle {
    color:#e74c3c;
    visibility:visible;
    
}
.form-control.error small{
    visibility: visible;
    color:#e74c3c;
}
 .form-control small{
     position:absolute;
     top: 75px;
     left:0;
     visibility: hidden;
     
 }
 button{
    background: #002DA0;
    border: 2px solid #CACCCB;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    font-size: 1.1rem;
    width: 85%;
    height:40px;
    margin-bottom: 13px;
    border: 2px solid #CACCCB;
    border: none;
    padding-left: .5rem;
    font-family: inherit;
    display:block;
 }