@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    color: #002DA0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.container{
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 40rem;
    height: 70vh;
    margin: 10em auto;
    position: relative;
    align-items: center;
    background-color: #fff;
    
}
.header{
    text-align: center;
    padding: 1.7em;
    border-bottom: 2px rgba(66, 133, 244, 0.3) solid;
}
.bottom{
    text-align: center;
    padding: 1.7em;
    position: absolute;
    bottom: 22%;
    left: -32px;
    width: 100%;
    border-bottom: 2px rgba(66, 133, 244, 0.3) solid;
}
.sign{
    position: absolute;
    padding: 2rem;
    width: 100%;
    height: 100%;
    left: 5%;
    top:12%;
    font-size: 1.1rem;
    align-items: center;
}
input, button{
    width: 85%;
    height: 38px;
    margin-bottom: 13px;
    border: 2px solid #CACCCB;
border-radius: 5px;
padding-left: .5rem;
}
button{
    background: #F2F5FA;
border: 2px solid #CACCCB;
border-radius: 5px;
margin-top: 12px;
color: #002DA0;
font-size: 1.1rem;
}