@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    color: #002DA0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.left{
    position: absolute;
    width: 30%;
    height: 100vh;
    background-color: #002DA0;
    ;
    left:0;
    right:0;
    top: 0;
    bottom: 0
    
}
.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
width: 100%;
position: absolute;
height:100vh;
top: 0;
left: 30%;
bottom: 0;
right:0 ;

    
}


form  { display: table;   
        position: relative;
        top: 55%;
        padding: 1.2rem;
        left: 20%;

}
p   { display: table-row;  }

label { 
        display: table-cell;
        font-size: 1.2rem; 
    }
input { display: table-cell; 
        width: 400px;
        height: 35px;
        margin: 2rem 0 0 10px;
        font-size: 1rem;
    }
        button{
        width: 400px;
        position: absolute;
        top: 60%;
        left: 31.5%;
        height: 34px;
        }
    
    /* .dek{
        background-color: #002DA0;
        top:0;
        bottom:0;
        right:0;
        left: 50%;
        position:absolute;
        text-align: center;
    } */
